numpy==1.17.4
Pillow==6.2.1
Flask==1.1.1
mysql-connector==2.2.9
openslide-python==1.1.1
opencv-python==4.1.1.26
torch==1.3.1
torchvision==0.4.2
segmentation_models==0.2.1
flask-login==0.5.0
# tensorflow-gpu==1.12
# Keras==2.2.4
