<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Muti-Slide</title>
    <script type="text/javascript" src="{{ url_for('static', filename='openseadragon.js') }}"></script>
    <link rel="stylesheet" href="static/select2.min.css">
    <!-- 引入在线资源 -->
    <script src="static/jquery-3.3.1.slim.min.js"></script>
    <script src="static/popper.min.js"></script>
    <script src="static/jquery.min.js"></script>
    <script src="static/select2.min.js"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='re_annotation/openhi_globalValue.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='re_annotation/openhi_viewer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='re_annotation/openhi_controller.js') }}"
            charset="GBK"></script>
</head>
<body oncontextmenu=self.event.returnValue=false>
<div onchange="update_anno()">
    Anno ID: <select class="form-control" id="anno_id_select" style="width:20%">
    <option value=""></option>
</select>
    <div id="current_id" style="display:inline-block">
        当前 ID： 【】{{ anno_name }}
    </div>
</div>

<div id="openseadragon1" style="width:800px;height:800px;float: left;margin: 10px; margin-left: 20px"></div>
<div id="controller" style="float: left;text-align:center;width: 300px">
    <dl class="checkBox" style="background-color: rgb(157, 255, 255);">
        <p style="background-color: #1a95e7;height: 30px;">Point(点标注板)</p>
        <div id="marker" style="display: flex;flex-direction: column;"></div>
        <div>
            <button onclick="undo()" style="margin: 8px">Undo(撤销)</button>
        </div>
        <div>
            <button onclick="update_points()" style="margin: 8px">save and refresh(保存并刷新)</button>
        </div>
        {#        <div>#}
        {#            <button onclick="make_mask()" style="margin: 8px">生成掩膜</button>#}
        {#        </div>#}
    </dl>
    <div id="warning" style="color:#FF0000;background:#FFFF00"></div>
    <div style="float:left;text-align: center;width: 300px;">
        <dl class="checkBox" style="background-color: rgb(157, 255, 255);">
            <p style="background-color: #1a95e7;height: 30px;"><input type="checkbox" name="ckb">Corrector(修正板)</p>
            <div id="corrector" style="display: flex;flex-direction: column;"></div>
        </dl>
        <div id="warning2" style="color:#FF0000;background:#FFFF00"></div>
    </div>

</div>
<div id="openseadragon2" style="width:800px;height:800px;float: left;margin: 10px"></div>

<script type="text/javascript">
    anno_name = "{{ anno_name }}";
    rand = "{{ rand }}";
    background_image = 'static/data/anno_data/' + anno_name + "{{ image_type }}";
    let mask1 = '{{ image_root }}' + 'mask_' + anno_name + '_nuClick.png' + rand;
    let mask2 = '{{ image_root }}' + 'mask_' + anno_name + '_U-net.png' + rand;
    let mask3 = '{{ image_root }}' + 'mask_' + anno_name + '_nuClick_separate_nuclei.png' + rand;

    info_url = '?anno_name=' + anno_name;

    let viewer1 = OpenSeadragon({
        id: "openseadragon1",
        prefixUrl: "{{ url_for('static', filename='images/') }}",
        tileSources: {
            type: 'image',
            url: background_image
        },
        minZoomImageRatio: 0,
        maxZoomPixelRatio: 10,
        autoResize: true,
        visibilityRatio: 0,

        gestureSettingsMouse: {
            flickEnabled: false,
        },
        springStiffness: 5,// 5
        animationTime: 0, //0.5

        zoomPerSecond: 0.5,//0.5
        zoomPerScroll: 1.3,

        showNavigator: true,
        navigatorPosition: "BOTTOM_RIGHT",
    });

    let viewer2 = OpenSeadragon({
        id: "openseadragon2",
        prefixUrl: "{{ url_for('static', filename='images/') }}",
        tileSources: {
            type: 'image',
            url: background_image
        },
        minZoomImageRatio: 0,
        maxZoomPixelRatio: 10,
        autoResize: true,
        visibilityRatio: 0,

        gestureSettingsMouse: {
            flickEnabled: false,
        },
        springStiffness: 5,// 5
        animationTime: 0, //0.5

        zoomPerSecond: 0.5,//0.5
        zoomPerScroll: 1.3,

        showNavigator: true,
        navigatorPosition: "BOTTOM_RIGHT",
    });

    let is_point = 1;
    var mouse_tracker = new OpenSeadragon.MouseTracker({ //set mouse tracker
        element: viewer1.container,
        moveHandler: update_mouse_location,
        scrollHandler: update_mouse_location,
        exitHandler: function (e) {
            if (OSD_control.point_record_controller) {
                pen_state += 1;
                (function (pen_state_old) {
                    setTimeout(function () {
                        if (pen_state == pen_state_old) {
                            viewer1.setMouseNavEnabled(true);
                            OSD_control.point_record_controller = 0;
                            post_record();
                        }
                    }, 100);
                })(pen_state);
            }
        },
    });
    if (!is_point)
        mouse_tracker.setTracking(true);

    viewer1.addHandler('canvas-nonprimary-press', function (e) {
        if (e.button == 2 && is_point == 0) {
            OSD_control.point_record_controller = 1;
            recording_point();
        }
        if (e.button == 1 && is_point == 0) {
            OSD_control.point_mid_record_controller = 1;
            mid_recording_point();
        }
    });


    viewer1.addHandler('canvas-nonprimary-release', function (e) {
        if (e.button == 2 && is_point == 0) {
            OSD_control.point_record_controller = 0;
            post_record();
        }
        if (e.button == 1 && is_point == 0) {
            OSD_control.point_mid_record_controller = 0;
            post_record();
        }
    });


    let pen_state = 0;
    viewer1.addHandler('canvas-enter', function (e) {
        if (e.pointerType == "pen") {
            pen_state += 1;
            viewer1.setMouseNavEnabled(false);
            OSD_control.point_record_controller = 1;
            update_mouse_location(e);
        }
    });

    viewer1.addHandler('canvas-exit', function (e) {
        if (e.pointerType == "pen") {
            pen_state += 1;
            (function (pen_state_old) {
                setTimeout(function () {
                    if (pen_state == pen_state_old) {
                        viewer1.setMouseNavEnabled(true);
                        OSD_control.point_record_controller = 0;
                        post_record();
                    }
                }, 100);
            })(pen_state);
            // post_record();
        }
    });
    viewer1.gestureSettingsByDeviceType("pen").flickEnabled = false;

    update_image_info();
    create_grading_controls();
    $('input[name=ckb]').prop("checked", false);
    if (is_point)
        console.log("点标注状态")
    create_corrector_controls();
    $('input[name=ckb]').change(function () {
        if ($(this).is(':checked')) {
            is_point = 0;
            console.log("修正状态")
        } else {
            is_point = 1;
            console.log("点标注状态")
        }
    });

    let update_image = function () {
        document.getElementById("warning2").innerText = "正在更新图片";
        $.post("/update_image" + info_url,
            (data) => {
                console.log(data);
                add_mask(viewer1, data);
                viewer1.clearOverlays();
                add_points();
                document.getElementById("warning2").innerText = "";
                $('input[name=ckb]').prop("checked", true);
                is_point = 0;
                console.log("仍在修正状态")
            })
    };

    let point_x = [];
    let point_y = [];
    let grade = [];

    let mask_flag_1 = 1;
    let mask_flag_2 = 1;
    let point_flag = 1;
    let adding_flag = 0;

    let style_sub = "width:8px;height:8px;border-radius:50%;background-color:";
    let color = ['#FFFFFF', '#FF69B4', '#C71585', '#FF00FF', '#9400D3', '#6A5ACD', '#87CEFA', '#008B8B', '#008000',
        '#FFFF00', '#FF8C00', '#FF0000', '#00008B', '#000000'];
    let point = [];
    for (var i = 0; i <= 13; i++) {
        let name = i + 1;
        name = name.toString + "_point";
        name = document.createElement("div");
        name.style = style_sub + color[i] + ";";
        point.push(name)
    }


    let add_points = function () {
        if (!point_flag)
            return;
        viewer1.clearOverlays();
        for (let i = 0; i < grade.length; i++) {
            // console.log(point_x[i],point_y[i]);
            viewer1.addOverlay({
                element: point[grade[i]].cloneNode(true),
                location: viewer1.world.getItemAt(0).imageToViewportCoordinates(
                    point_x[i], point_y[i]
                ),
                placement: OpenSeadragon.Placement.CENTER
            });
        }
    };

    let update_points = function () {
        document.getElementById("warning").innerText = "正在保存";
        $.post("/update_grades" + info_url, {grade: grade, points_x: point_x, points_y: point_y},
            (data) => {
                console.log(data);
                update_points_grades();
                // document.location.reload()
                document.getElementById("warning").innerText = "";
                make_mask();
            })
    };

    let update_anno = function () {
        document.location.href = '/re_annotation?anno_name=' + $("#anno_id_select option:checked").val();
    };

    let undo = function () {
        if (grade.length === 0) {
            alert("已清空标注");
        } else {
            point_x.pop();
            point_y.pop();
            grade.pop();
            add_points();
        }
    };

    let next_id = "";
    let former_id = "";
    $('#anno_id_select').select2({
        placeholder: 'Please select slideID'
    });
    $.get("available_re_annotation_region", function (data) {
        console.log(data);
        $('#anno_id_select').select2({
            placeholder: 'Please select slideID',
            data: data,
        });
        for (let i = 0; i < data.length; i++) {
            if (data[i].id == "{{ anno_name }}") {
                document.getElementById("current_id").innerText = " 当前 ID：" + data[i].text;
                if(i != data.length)
                    next_id = data[i + 1].id;
                if(i != 0)
                    former_id = data[i - 1].id;
            }
        }
    });

    let update_points_grades = function () {
        $.getJSON("points_grades" + info_url, function (result) {
            console.log(result);
            point_x = [];
            point_y = [];
            grade = [];
            for (let i = 0; i < result.grades.length; i++) {
                point_x.push(result.points[i][0]);
                point_y.push(result.points[i][1]);
                grade.push(result.grades[i]);
            }
            add_points();
        });
    };

    let make_mask = function () {
        adding_flag += 1;
        document.getElementById("warning").innerText = "正在更新图片";
        $.get("make_mask" + info_url, function (result) {
            console.log(result);
            mask1 = '{{ image_root }}' + result.mask1;
            mask3 = '{{ image_root }}' + result.mask2;
            add_mask(viewer1, mask1);
            adding_flag -= 1;
            if (adding_flag === 0)
                document.getElementById("warning").innerText = "";
        });
    };


    let add_mask = function (viewer, mask_name) {
        let Bound_Viewport = viewer.world.getItemAt(0).getBounds();
        viewer.addTiledImage({
            tileSource: {
                type: 'image',
                url: mask_name,
            },
            x: Bound_Viewport.x,
            y: Bound_Viewport.y,
            width: Bound_Viewport.width,
            opacity: 0.5,
            success: function () {
                if (viewer.world.getItemCount() > 2)
                    viewer.world.removeItem(viewer.world.getItemAt(1));
                if (!mask_flag_1 && viewer === viewer1) {
                    remove_mask(viewer);
                }
                if (!mask_flag_2 && viewer === viewer2) {
                    remove_mask(viewer);
                }
            },
            false: function () {
                alert("no mask_flag");
            }
        });
    };

    let remove_mask = function (viewer) {
        while (viewer.world.getItemCount() >= 2)
            viewer.world.removeItem(viewer.world.getItemAt(1));
    };

    viewer1.addHandler('open', function () {
        add_mask(viewer1, mask1);
        update_points_grades()
    });
    viewer2.addHandler('open', function () {
        add_mask(viewer2, mask2);
    });

    viewer1.addHandler('animation', function () {
        let Bound_Viewport = viewer1.viewport.getBounds(true);
        viewer2.viewport.fitBounds(Bound_Viewport, true)
    });
    viewer2.addHandler('animation', function () {
        let Bound_Viewport = viewer2.viewport.getBounds(true);
        viewer1.viewport.fitBounds(Bound_Viewport, true)
    });

    viewer1.addHandler('canvas-nonprimary-press', function (inform) {
        console.log(inform.position);
        inform.position = viewer1.world.getItemAt(0).viewerElementToImageCoordinates(inform.position);
        console.log(inform.position);
        let grade_checked = 0;
        let radio_obj = document.getElementsByName("grading");
        for (let i = 0; i < radio_obj.length; i++) {
            if (radio_obj[i].checked) {
                grade_checked = parseInt(radio_obj[i].value);
            }
        }
        if (is_point) {
            if (grade_checked == -1) {
                for (i = 0; i < grade.length; i++) {
                    if (point_x[i] > inform.position.x - 10 && point_x[i] < inform.position.x + 10
                        && point_y[i] > inform.position.y - 10 && point_y[i] < inform.position.y + 10)
                        grade[i] = 0;
                }
                add_points();
            } else {
                grade.push(grade_checked);
                point_x.push(Math.round(inform.position.x));
                point_y.push(Math.round(inform.position.y));
                add_points();
            }
        }

    });

    document.onkeydown = function (e) {  //listen to the keboard;
        let key = String.fromCharCode(window.event ? e.keyCode : e.which);
        console.log(key);
        if (key === 'B') {
            mask_flag_1 = 1 - mask_flag_1;
            if (mask_flag_1) {
                add_mask(viewer1, mask1);
            } else {
                remove_mask(viewer1);
            }
        } else if (key === 'N') {
            mask_flag_2 = 1 - mask_flag_2;
            if (mask_flag_2) {
                add_mask(viewer2, mask2);
            } else {
                remove_mask(viewer2);
            }
        } else if (key === 'C') {
            let temp = mask1;
            mask1 = mask3;
            mask3 = temp;
            remove_mask(viewer1);
            add_mask(viewer1, mask1);
        } else if (key === 'V') {
            point_flag = 1 - point_flag;
            if (point_flag === 1) {
                add_points();
            } else {
                viewer1.clearOverlays();
                point_flag = 0;
            }
        } else if (key <= '9' && key >= '0') {
            document.getElementById("type_" + key).checked = true;
        } else if (key === 'R') {
            document.getElementById("type_" + "0").checked = true;
        } else if(key === 'Q'){
            document.location.href = '/re_annotation?anno_name=' + former_id;
        } else if(key === 'W'){
            document.location.href = '/re_annotation?anno_name=' + next_id;
        }
        else if (key === 'F') {
            // console.log(viewer1.viewport.getCenter());
            console.log(512 / document.getElementById("openseadragon1").offsetWidth / 2.9);
            zoom_level = viewer1.world.getItemAt(0).imageToViewportZoom(512 / document.getElementById("openseadragon1").offsetWidth / 2.9)
            console.log(zoom_level);
            viewer1.viewport.zoomTo(512 / document.getElementById("openseadragon1").offsetWidth / 2.9,
                viewer2.viewport.getCenter(), true);
            // viewer1.viewport.panTo(center, true)
        } else if (key === 'G') {
            console.log(512 / document.getElementById("openseadragon1").offsetWidth / 1.12);
            viewer1.viewport.zoomTo(512 / document.getElementById("openseadragon1").offsetWidth / 1.12,
                viewer2.viewport.getCenter(), true);
        }
    };

</script>
</body>
</html>