<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/AdminPanel.css">
    <link rel="stylesheet" href="static/select2.min.css">
    <!-- 引入在线资源 -->
    <script src="static/g2.min.js"></script>
    <script src="static/jquery-3.3.1.slim.min.js"></script>
    <script src="static/popper.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
    <script src="static/jquery.min.js"></script>
    <script src="static/buttomOnclick.js"></script>
    <script src="static/select2.min.js"></script>

    {#    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>#}
    {#    <script src="https://unpkg.com/@ag-grid-enterprise/all-modules@23.2.0/dist/ag-grid-enterprise.min.js"></script>#}

    <script src="https://unpkg.com/ag-grid-enterprise/dist/ag-grid-enterprise.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css">

</head>


<title>WSI Processing Platform</title>
</head>

<body data-gr-c-s-loaded="true">
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">WSI Processing Platform</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column mt-2 ml-2">
                    <li class="nav-item">
                        <a class="nav-link" href="slide_table?item_per_page=15">
                            Slide Table
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="mission_table">
                            Analysis Task Table
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="annotation_project_table">
                            Annotation Project Table
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="table">
                            Slide Info(TCGA)
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="table2">
                            Slide Info(YiFuYuan)
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="re_annotation">
                            Re-annotation
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h2>Slide Info</h2>

            <div id="myGrid" style="height: 830px" class="ag-theme-alpine"></div>

            <script charset = "utf-8">
                test_function = function(test){
                    console.log(test.value);
                    window.open("/find_slide?svs_file=" + test.value + "&project=table2","_blank","")
                };

                function entityToString(entity) {
                    var div = document.createElement('div');
                    div.innerHTML = entity;
                    var res = div.innerText || div.textContent;
                    console.log(entity, '->', res);
                    return res;
                }
                columnDefs = [
                    {
                        field: '', headerName: '', checkboxSelection: true, width: '2',
                        sortable: false, resizable: true, filter: 'agTextColumnFilter',pinned :'left',
                    }
                ].concat(JSON.parse(entityToString("{{column_addition}}"))).concat([{
                        field: '病理号', headerName: '病理号',
                        sortable: true, resizable: true, filter: 'agTextColumnFilter',pinned :'left',
                        onCellClicked: test_function
                    },  {
                        field: '性别', headerName: '性别',
                        sortable: true, resizable: true, filter: 'agTextColumnFilter'
                    }, {
                        field: '年龄', headerName: '年龄',
                        sortable: true, resizable: true, filter: 'agNumberColumnFilter'
                    }, {
                        field: '病理诊断', headerName: '病理诊断',
                        sortable: true, resizable: true, filter: 'agTextColumnFilter'
                    }, {
                        field: '肉眼所见', headerName: '肉眼所见',
                        sortable: true, resizable: true, filter: 'agTextColumnFilter'
                    }, {
                        field: '病理类型', headerName: '病理类型',
                        sortable: true, resizable: true, filter: 'agTextColumnFilter'
                    }, {
                        field: '病理等级', headerName: '病理等级',
                        sortable: true, resizable: true, filter: 'agNumberColumnFilter'
                    }, {
                        field: '肿瘤类型', headerName: '肿瘤类型',
                        sortable: true, resizable: true, filter: 'agNumberColumnFilter'
                    },
                ]);

                function MedalCellRenderer() {
                }

                // init method gets the details of the cell to be renderer
                MedalCellRenderer.prototype.init = function (params) {
                    this.eGui = document.createElement('span');
                    if (typeof (params.value) != "undefined")
                        this.eGui.innerHTML = params.value;
                };

                MedalCellRenderer.prototype.getGui = function () {
                    return this.eGui;
                };

                var gridOptions = {
                    columnDefs: columnDefs,
                    rowData: []
                };
                gridOptions = {
                    columnDefs: columnDefs,
                    components: {
                        'medalCellRenderer': MedalCellRenderer
                    },
                    defaultColDef: {
                        flex: 1,
                        minWidth: 100,
                        // allow every column to be aggregated
                        enableValue: true,
                        // allow every column to be grouped
                        enableRowGroup: true,
                        // allow every column to be pivoted
                        enablePivot: true,
                        sortable: true,
                        filter: true,
                        cellRenderer: 'medalCellRenderer',
                    },
                    sideBar: true,
                    rowGroupPanelShow: 'always',
                    rowSelection: 'multiple',
                    rowMultiSelectWithClick: true,
                    enableRangeSelection: true,
                    enableRangeHandle: true,
                    groupSelectsFiltered: true,
                    groupSelectsChildren: true,
                    checkbox: true,
                    suppressRowClickSelection: true
                };

                document.addEventListener('DOMContentLoaded', function () {
                    var gridDiv = document.querySelector('#myGrid');
                    new agGrid.Grid(gridDiv, gridOptions);

                    agGrid
                        .simpleHttpRequest({
                            url:
                                '/items?table=' + '{{ table }}',
                        })
                        .then(function (data) {
                            /* data2 = data;
                            jsonstr = JSON.stringify(data);
                            jsonstr = decodeURI(jsonstr);
                            data = JSON.parse(jsonstr);
                            data2 = data;*/
                            console.log(data);
                            gridOptions.api.setRowData(data.data);
                            var allColumnIds = [];
                            gridOptions.columnApi.getAllColumns().forEach(function (column) {
                                allColumnIds.push(column.colId);
                            });
                            // allColumnIds.shift();
                            gridOptions.columnApi.autoSizeColumns(allColumnIds);
                            gridOptions.api.closeToolPanel()
                        });
                });

            </script>

        </main>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>

</html>